{% extends 'base.html' %}

{% block content %}

<h1>Boggle</h1>

<form>

    <button class="Start">Start</button>
</form>


<h2 class="high"></h2>

<table class="board">
{% for row in board %}
    <tr>{% for cell in row %}
        <td>{{cell}}</td>
        {% endfor %}
    </tr>
{% endfor %}
</table>

<form id="guess_form" action="" method="POST">
    <label for="guess">Make a guess</label>
    <input type="text" placeholder="Make a guess!" name="guess">
    <button>Submit guess</button>
</form>
<h2 class="score"></h2>
<ul class="list">

</ul>

{% endblock %}